#main_navbar{
    width: 250px;
    border-right: 2px solid gray;
}

.navbar_option{
    display: flex;
    height: 50px;
    align-items: center;
    transition: 0.2s;
    color: black;
}

a{
    text-decoration: none;
}

.navbar_option img{
    margin-left: 15px;
    height: 50%;
    margin-right: 5px;
}

.navbar_option p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.navbar_option:hover{
    background-color: rgb(197, 197, 197);
}

