h2{
    margin-bottom: 10px;
    font-size: 2rem;
}

h4{
    margin-top: 10px;
    font-size: 1rem;
}

#courses_list_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin-right: 20px;
    padding-top: 10px;
}